.container{
    display: flex;
    margin-top:-18px;
}

.container h1 {
    font-size: 48px;
}

.cont-right{
    display         : flex;
    justify-content : end;
    padding-left    : 200px;
}

.cont-right img{
    width: 750px;
}

.cont-left{
    width : 70%;
    margin-left: 160px;
    margin-top: 40px;
}

.cont-left h1 {
    display      : inline;
    font-size    : 75px;
    margin       : 0;
    padding-top  : 16px;
  }

.square-element::after {
    content          : "";
    display          : inline-flex;
    position         : relative;
    bottom           : 8px;
    padding          : 1.5%;
    margin-left      : 5px;
    background-color : #e22b22;
    border-radius    : 8px;
  }

  .acelera{
    line-height: 70px;
  }

  .text1 {
    font-size        : 25px;
  }

  .text2 {
    font-size        : 19px;
    line-height      : 25px;
  }