.container{
    display: flex;
    margin-top:-18px;
}

.container h1 {
    font-size: 48px;
}

.cont-right{
    display         : flex;
    justify-content : end;
    padding-left    : 205px;
}

.cont-right img{
    width: 760px;
}

.cont-left{
    width : 70%;
    margin-left: 160px;
    margin-top: 40px;

}

/* .back-opacity{
    background-image: url(../../assets/fondo_marcoAgua.png);
    background-repeat: no-repeat;
    background-size: auto;   
} */

.cont-left h1 {
    display      : inline;
    font-size    : 75px;
    margin       : 0;
    padding-top  : 16px;
  }

.square-element::after {
    content          : "";
    display          : inline-flex;
    position         : relative;
    bottom           : 8px;
    padding          : 1.5%;
    margin-left      : 5px;
    background-color : #e22b22;
    border-radius    : 8px;
  }

  .acelera{
    line-height: 73px;
  }

  .text1 {
    font-size        : 23px;
    line-height      : 30px;
  }

  .text2 {
    font-size        : 17px;
    line-height      : 25px;
  }

  .pideInfo {
    background-color : #e22b22;
    border           : none;
    margin-left      : 1px;
    margin-top       : 32px;
    height           : 40px;
    width            : 250px;
    color            : white;
    font-size        : 18px;
  }
  
  .divisor{
    width: 100%;
    height: 1px;
    background-color: black;
  }