

.navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#22172b;
    color: white;
    height: 60px;
    padding: 10px;
  }
  
  .navbar2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .navbar2 ul li {
    margin-right: 10px;
    color: white;
  }
  
  .navar2Img {
    background-color: #22172b;
    color: white;
    height: 60px;
    width: 300px;
   
  }
  
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    flex: 1;
  
  }
  
  .imgBody {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  .imgBody img {
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .buttonBody{
    background-color:rgba(244, 10, 10, 0.966);
    color: white;
    font-weight:950;
    height: 30px;
    width: 200px;
  }

  h1,h2,p {
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;

  }
  h1{
    font-size:44px; 
    font-weight:bold;
  }
  h2{
    font-size: 20px;
    color:rgb(53, 52, 52);
    font-weight: bold;
  }
  p{
    font-size: 20px;
  }